<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="name">Nombre del Departamento</label>
          <input type="text" class="form-control" id="name" name="name" required />
        </div>

        <div class="col-md-6 form-group">
          <label for="budget">Presupuesto</label>
          <input type="number" class="form-control" id="budget" name="budget" required />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-primary mt-3" onclick="createDepartament()">
            Crear Departamento
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
